@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root {
  --primary: #ff4800;
  --secondary: #302f2f;
  --tertiary: #fff;
  --quaternary: #5c5a5a;
  --quinary: #000000;
}

.container {
  width: 100%;
  height: 100vh;
  background: var(--secondary);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 2rem;
  width:100%;
  height:100vh;
}

main img {
  width: 20rem;
  position: relative;
  bottom: 4rem;
  right: 10rem;
  border-radius: 1rem;
  animation: float-image 10s linear infinite;
}

@keyframes float-image {
  0%{
    transform: translateY(0rem);
  }
  50%{
    transform: translateY(2rem);
  }
  100%{
    transform: translateY(0rem);
  }
}

.info-gym {
 position: relative;
 margin: 0 13rem;
 bottom: 5rem;
 color: var(--tertiary);
 background: rgba(255, 255, 255, 0.25);
 backdrop-filter: blur(4rem);
 border-radius: 1rem;
 padding: 2rem;
}

.enroll-content {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary);
}

.enroll {
  border-radius: 1rem;
  width: 65rem;
  height: 30rem;
  background: var(--secondary);
  position: absolute;
  overflow: hidden;
}

.force {
  position: relative;
  font-size: 4rem;
  color: var(--quaternary);
  z-index: 1;
  right: 20rem;
  bottom: 7rem;
}

.enroll img {
  position: relative;
  right: 10rem;
  top: 1rem;
  z-index: 2;
  width: 50rem;
}

.enroll-text {
  width: 23rem;
  height: 15rem;
  background: transparent;
  position: relative;
  left: 40rem;
  bottom: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50% 50% 50% 50%;
  background: var(--quaternary);
}

h5 {
  font-size: 3.4rem;
  color: var(--tertiary);
}

p {
  position: relative;
  left: 1.01rem;
  font-size: 1.3rem;
  color: var(--tertiary)
}

.button-enroll {
  font-size: 2rem;
  padding: 0.3rem 0.5rem;
  background: var(--primary);
  text-decoration: none;
  border-radius: 1rem;
  color: var(--secondary);
}

.gym-video {
  width: 100%;
  height: 120vh;
  background: linear-gradient(180deg, var(--primary), var(--secondary));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem 0;
}

.gym-video h4 {
  font-size: 2rem;
  font-weight: 1000;
  color: var(--tertiary);
  margin-bottom: 3rem;
}

.services {
  padding: 2rem 0;
  width: 100%;
  height: 120vh;
  background: var(--secondary);
  display: block;
  gap: 2rem 0;
}

.service {
  position: relative;
  left: 12rem;
  width: 70rem;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 4rem;
}

.service div {
  width: 45rem;
  height: 15rem;
  text-align:start;
  padding: 0.4rem;
}

.service img {
  width: 10rem;
}

.service h2 {
  margin-left: 1rem;
  font-size: 2.5rem;
  color: var(--primary);
} 

.service p {
  color: var(--tertiary);
}

.appointment {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 0.1rem;
  background: var(--primary);
}

.appointment img {
  width: 20rem;
}

.text-appointment {
  text-align:left;
  width: 40rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  gap: 1rem 0;
}

.text-appointment h3 {
  font-size: 4rem;
}

.text-appointment p {
  position: relative;
  left: 0.1rem;
  color:var(--tertiary);
}

.btn-appointment {
  text-align: center;
  text-decoration: none;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  width: 12rem;
  height:2rem;
  background: var(--quinary);
  color: var(--tertiary);
  border-radius: 0.3rem;
}

footer {
  width: 100%;
  height: 10vh;
  background: var(--secondary);
  color: var(--tertiary);
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-media {
 width: 25rem;
 height: 4rem;
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 0 1rem;
}

.icon {
  font-size: 2rem;
}

/* responsividade */

@media  (max-width: 1200px){
  main img {
    width: 15rem;
    bottom: 0.4rem;
    right: 4rem;
  }
  .info-gym {
    margin: 0 5rem;
    top: 1rem;
  }
  
.enroll {
  width: 45rem;
  height: 30rem;
}
.enroll img {
  right: 5rem;
  width: 38rem;
  top: 8rem;
}
.force {
 right: 10rem;
}
.enroll-text {
  width: 18rem;
  height: 12rem;
  left: 26rem;
  bottom: 17rem;
}
}

@media (max-width: 992px) {
  main img {
    width: 12rem;
    right: 2rem;
  }
  .info-gym {
    margin: 0 1rem;
    top: 1rem;
    width: 22rem;
    height: 16rem;
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  main {
    gap: 0 4rem;
  }

  main img {
    width: 8rem;
    right: 2rem;
  }
  .info-gym {
    margin: 0rem;
    top: 1rem;
    width: 17rem;
    height: 20rem;
  }
}

@media (max-width: 600px) {
  main {
    gap: 2rem;
    height: 90vh;
  }
  main img {
   left: 0.2rem;
  }
 .info-gym {
  left: 1rem;
  width: 12rem;
  height: 12rem;
  font-size: 0.5rem;
 }
  .service {
  width: 27rem;
}
}
