*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary: #ff4800;
  --secondary: #302f2f;
  --tertiary: #fff;
  --quaternary: #5c5a5a;
  --quinary: #000000;
}

.container-about {
 width: 100%;
 min-height: 100vh;
 background: var(--quinary);
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
}

.btn-back {
  background: var(--primary);
  color: var(--tertiary);
  padding: 1rem 2rem;
  text-decoration: none;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  position: absolute;
  left: 2rem;
  top: 2rem;
  font-weight: 1000;
}

.text {
  position: relative;
  top: 16rem;
  right: 20rem;
  width: 35rem;
  height: 35rem;
  border: 0.2rem solid var(--primary);
  padding: 2rem;
}

.container-about img {
  position: relative;
  bottom: 13rem;
  left: 20rem;
  width: 20rem;
  border-radius: 48% 24% / 14% 35%;
}

.container-about footer {
  width: 100%;
  height: 15vh;
  padding: 2rem 0rem;
}

@media (max-width:1200px) {
  .text {
    width: 30rem;
    height: 30rem;
    right: 15rem;
  }
  .text p {
    font-size: 1rem;
  }
  .container-about img {
    width: 16rem;
    bottom: 7rem;
    left: 16rem;
  }

}

@media (max-width: 992px) {
  .text {
    width: 28rem;
    height: 28rem;
    right: 13rem;
  }
  .text h1 {
    font-size: 1.5rem;
  }

  .container-about img {
    bottom: 7rem;
    width: 14rem;
    left: 14rem;
  }
}

@media (max-width: 768px) {
  .text {
    padding: 1rem;
    right: 7.5rem;
    top: 10rem;
    height: 25rem;
    width: 23rem;
  }
  .container-about img {
    width: 11rem;
  }
}

@media (max-width: 600px) {
  .text {
   top: 0rem;
   right: 0rem;
   margin-top: 8rem;
   height: 20rem;
   width: 28rem;
  }
  .container-about img {
    margin-top: 2rem;
    margin-bottom: 2rem;
    left: 0rem;
    bottom: 0rem;
  }
}