:root {
  --primary: #ff4800;
  --secondary: #302f2f;
  --tertiary: #fff;
  --quaternary: #5c5a5a;
  --quinary: #000000;
}

.container-plans {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5rem 0;
  background: var(--quinary);
  color: var(--tertiary);
  width: 100%;
  height: 100vh;
  font-family: system-ui;
}

.btn-back {
  background: var(--primary);
  color: var(--tertiary);
  padding: 1rem 2rem;
  text-decoration: none;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  position: absolute;
  left: 2rem;
  top: 2rem;
  font-weight: 1000;
}

.icon-gym {
  font-size:18rem;
  margin-top: 2rem;
}

.plans {
  width: 80rem;
  height: 110rem;
  border: 0.2rem solid var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0rem 6rem;
}

.plan {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 0.2rem solid var(--primary);
  width:20rem;
  height: 18rem;
  gap: 1rem 0rem;
}

.plan p {
 margin-right: 6rem;
}

ul {
  list-style: none;
}

button {
  padding: 1rem 2rem;
  background: var(--primary);
  color: var(--tertiary);
  border: 0.2rem solid var(--tertiary);
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 1000;
}

.container-plans footer {
  width: 100%;
  height: 40vh;
}

@media (max-width: 1200px) {
  .plans {
   width: 58rem;
   height: 70rem;
   gap: 0rem 2rem;
  }
  .plan {
   width: 17rem;
   height: 15rem;
  }
}

@media (max-width: 768px) {
  .plans {
    width: 45rem;
    height: 50rem;
    gap: 0rem 0.5rem;
  }
  .plan {
    width: 13rem;
    height: 11rem;
    gap: 0.2rem 0;
  }
  button {
    padding: 0.5rem 1.2rem;
    font-size: 1rem;
  }
}

@media (max-width: 600px) {
  .container-plans {
    height: 150vh;
  }
  .icon-gym {
    margin-top: 2rem;
    font-size: 10rem;
  }
 .plans {
  flex-direction: column;
  width: 20rem;
  height: 40rem;
  padding: 1rem 0;
  gap: 1rem 0;
 }
}