:root {
  --primary: #ff4800;
  --secondary: #302f2f;
  --tertiary: #fff;
  --quaternary: #5c5a5a;
  --quinary: #000000;
}

.container-plans {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5rem 0;
  background: var(--quinary);
  color: var(--tertiary);
  width: 100%;
  height: 100vh;
}

.icon-gym {
  font-size:18rem;
  margin-top: 2rem;
}

.plans {
  width: 80rem;
  height: 110rem;
  border: 0.2rem solid var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0rem 6rem;
}

.plan {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 0.2rem solid var(--primary);
  width:20rem;
  height: 18rem;
  gap: 1rem 0rem;
}

.plan p {
 margin-right: 6rem;
}

ul {
  list-style: none;
}

button {
  padding: 1rem 2rem;
  background: var(--primary);
  color: var(--tertiary);
  border: 0.2rem solid var(--tertiary);
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 1000;
}

.container-plans footer {
  width: 100%;
  height: 40vh;
}